---
title: 'About Us | St.Thomas Church Of Christ |'
description: 'Welcome to our about us page'
preloadImg: '/assets/images/imagename.format'
permalink: 'aboutus/'
eleventyNavigation:
    key: aboutus
    order: 1000
    parent: Optional - Put another page's "key" here to create a dropdown
    hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/aboutus.css">{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" src="../../assets/images/bible_picture.jpg">
            <source media="(min-width: 601px)" src="../../assets/images/bible_picture.jpg">
            <img aria-hidden="true" decoding="async"src="../../assets/images/bible_picture.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>
<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1771">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            src="../../assets/images/bible-verses-about-faith-25.jpg">
                    <source media="(min-width: 601px)"
                    src="../../assets/images/bible-verses-about-faith-25.jpg">
                    <img decoding="async"
                    src="../../assets/images/bible-verses-about-faith-25.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <h3 class="cs-h3">Our Belief</h3>
                    <p class="cs-item-text">
                        We believe that God is love, God is good, and God is omnipotent. He is omniscient, omnipresent and that he is the ultimate source of authority in heaven and on earth. He so loved the world that he gave his only son, so that everyone who believes in him may not perish, but may have eternal life. We believe our one God exists eternally in three persons; the Father, the Son, and the Holy Spirit.
                    </p>
                    <a href="/" class="cs-link">
                        Join Us Today
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                    src="../../assets/images/bible-verses-about-hope-3-1585157951.jpg">
                    <source media="(min-width: 601px)"
                    src="../../assets/images/bible-verses-about-hope-3-1585157951.jpg">
                    <img decoding="async"
                    src="../../assets/images/bible-verses-about-hope-3-1585157951.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <h3 class="cs-h3">Jesus Christ                    </h3>
                    <p class="cs-item-text">
                        We believe Jesus Christ is the one and only Son of God, literally God in the flesh, now 100% God and 100% human. He came to earth, born of a virgin, and lived among us free of sin. Jesus came to be the way, the truth, and the life. He lived, died, was buried, rose again, and ascended back to heaven. One day he will come again to receive his faithful followers into eternal habitations.
                    </p>
                    <a href="/" class="cs-link">
                        Join Us Today
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                    src="../../assets/images/passion-three-crosses-cross-good-friday-preview.jpg">
                    <source media="(min-width: 601px)"
                    src="../../assets/images/passion-three-crosses-cross-good-friday-preview.jpg">
                    <img decoding="async"
                            s src="../../assets/images/passion-three-crosses-cross-good-friday-preview.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <h3 class="cs-h3">The Church</h3>
                    <p class="cs-item-text">
                        The church is the body of Christ on earth and Jesus Christ is the head. It is not simply an organization or institution, but a living organism comprised of obedient believers in the world. It exists for the purpose of God's glory. It is composed of believers who gather to encourage one another, to faithfulness and to worship and serve the Lord God, as he provides opportunity. Within the body of Christ there is also diversity expressed by gifts, which are given to each believer by God. These spiritual gifts enable a believer to function especially well in areas of service for the good of the body; thus, there are no superiors or inferiors in the body of Christ.
                    </p>
                    <a href="/" class="cs-link">
                        Join Us Today
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                    src="../../assets/images/jesus-cross-faith-crucifixion-christ-religion-christianity-christian-church.jpg">
                    <source media="(min-width: 601px)"
                    src="../../assets/images/jesus-cross-faith-crucifixion-christ-religion-christianity-christian-church.jpg">
                    <img decoding="async"
                    src="../../assets/images/jesus-cross-faith-crucifixion-christ-religion-christianity-christian-church.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <h3 class="cs-h3">Worship</h3>
                    <p class="cs-item-text">
                        We gather to worship regularly on the first day of every week, the day on which Jesus Christ was raised from the dead. We assemble to participate together in the Lord's Supper, and to sing songs in a spiritual acapella. To pray, listen, and read the scriptures aloud publicly. To teach classes and sermons. We believe we are to be in regular attendance so that we can encourage each other to remain faithful and grow both in love, and in good deeds. In short, we look to the new Testament and historical evidence to see what the 1st century church believed and practiced, and by extension what the church in any century is to believe and practice.
                    </p>
                    <a href="/" class="cs-link">
                        Join Us Today
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}