---
title: 'Page title for <title> and OG tags'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'give/'
eleventyNavigation:
    key: Giving
    order: 1000
    parent: Optional - Put another page's "key" here to create a dropdown
    hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/give.css"/>
{% endblock %}

{% block body %}
 
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Giving</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Giving And Donations</span>
            <h2 class="cs-title">Supporting Our Church</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis animi debitis nulla nihil
                consequuntur neque perspiciatis praesentium asperiores! Doloremque, reiciendis?
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/alloy-wheel%201.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Etransfer</h3>
                <p class="cs-item-text">
                    If you'd like you can make a donation to the St.Thomas Church of Christ via e-transfer. The email being St.Thomaschurchoc@gmail.com. Donations are tax receiptable.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/electric%201.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">In-Person</h3>
                <p class="cs-item-text">
                    Feel free to come into our Sunday morning service and give in-person. We take time during morning service for collections.
                </p>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-engine.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Cheque</h3>
                <p class="cs-item-text">
                    You may also donate via cheque and can mail it to the church if you'd prefer.
                </p>

            </li>
        </ul>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}