---
title: 'Page title for <title> and OG tags'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'worship/'
eleventyNavigation:
    key: Worship
    order: 1000
    parent: Optional - Put another page's "key" here to create a dropdown
    hideOnMobile: Optional - set to "true" to hide on devices from, and below, 1023px
    hideOnDesktop: Optional - set to "true" to hide on devices above, and including, 1024px
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/worship.css">
{% endblock %}

{% block body %}

 <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
      <h1 id="home-h">Worship</h1>
      <picture>
        <source media="(max-width: 600px)" src="../../assets/images/bible_picture.jpg">
        <source media="(min-width: 601px)" src="../../assets/images/bible_picture.jpg">
        <img aria-hidden="true" decoding="async"src="../../assets/images/bible_picture.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
      </picture>

  </section>
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1169">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our services</span>
        <h2 class="cs-title">Let Us Worship Together</h2>
        <p class="cs-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur hic voluptatem quisquam deserunt temporibus dicta beatae rerum nobis esse similique!
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  src="../../assets/images/bible study picture.webp">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  src="../../assets/images/bible study picture.webp">
            <img
                  loading="lazy"
                  decoding="async"
                  src="../../assets/images/bible study picture.webp"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Online Worship</h3>
            <p class="cs-item-text">
              To join our live stream during service, please click here and then join the live stream.
            </p>
            <a href="" class="cs-link">
              Join us
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  src="../../assets/images/the cross.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  src="../../assets/images/the cross.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="../../assets/images/the cross.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Previous Sermons</h3>
            <p class="cs-item-text">
             If you'd like to see more of our previous times of worship, please click here
            </p>
            <a href="" class="cs-link">
              Learn more
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  src="../../assets/images/wooden love.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  src="../../assets/images/wooden love.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="../../assets/images/wooden love.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">More about us</h3>
            <p class="cs-item-text">
              If you are interested in learning more about us and wanting to attend our service, please click here.
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>

  {% include 'components/cta.html' %}

{% endblock %}